@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap'); 
@import "tailwindcss";
@plugin "daisyui"; 



body{
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}
